*{
    box-sizing: border-box;
    margin: 0px;
    
}

#headerAndButtonWrapper{
    display: flex;
    justify-content: space-between ;
    padding: 5px;
}

#addTaskWrapper{
    text-align: center;
    padding-bottom: 5px;
}

header{
    background-color: darkgray;
}

#appBody{
    height: 88.4vh;
    width: 100%;
    background-color: black;
    padding-left: 10%;
    padding-top: 2%;
}
#displayTaskSection{
    background-color: rgb(47, 48, 47);   
    height: 80vh;
    width: 90%;
    border-radius: 10px;
    

}

#taskForm{
    background-color: red;
    width: 100%;
    height: 5%;
    padding-top: 2%;  
    padding-left: 1vh;
    display: flex;
    flex-direction: column;

}

