*{
    box-sizing: border-box;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkslategray;
    color: antiquewhite;
}

header{
    padding: 2rem 1rem;
    max-width: 100%;
    width: 100%;
    background-color: rgb(56, 66, 73);
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-style: dashed;
    border-width: 1px;
    border-color: black;
}

#headerAndButtonWrapper{
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
}

.taskHeader{
    margin-bottom: 1rem;
    font-weight: bold;
}

.content {
}

.task {
    background-color: rgb(38, 43, 43);
    display: flex;
    justify-content: space-around;
    padding: 0.5rem ;
    border: 0.5px;
    border-style: dashed;
    border-color: black;
    margin: 5px;
    border-radius: 5px;

}

main{
    max-width: 80%;
    padding-left: 20%;
    height: 100vr;
}

.text{
    width: 80vh;
    background-color: transparent;
    color: aliceblue;
    border-color: transparent;
}

.edit{
    width: 3.1rem;
}