*{
    box-sizing: border-box;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkslategray;
    color: antiquewhite;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
}

.headerAndButtonWrapper{
    display: block;
    flex-direction: row;
}

.taskHeader{
    margin-bottom: 1rem;
    font-weight: bold;
}